@import '~antd/dist/antd.css';
.logo {
    width: 120px;
    height: 31px;
    background: rgb(209, 95, 95) url('../img/logo.png');
    margin: 16px 24px 16px 0;
    float: left;
    background-size: cover;
    border-radius: 6px;
}
